@import "./scss/theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: $font-family, sans-serif;
}

label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;

  &:not(.mat-checkbox-layout) {
    text-transform: uppercase;
  }
}

.column {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.row {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}
