@import "src/scss/variables.scss";

:host::ng-deep {
  .mat-card {
    padding: 32px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: $card-color;
    box-shadow: none;

    &-title {
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}
